:root{
    --main-color: #213448;
}
.menu-container{
    background-color: var(--main-color);
    width: 20%;
    height: 100%;
    position: fixed; 
    font-weight: bold;
}
ul li{
    list-style-type: none;
}
.user-info-container{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    
}
.user-info-container img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 100px;
    
    border: 3px white solid;
}
.user-info-container .username-tx{
    font-size: 2.4rem;
    color: white;
}
.function-list-container a{
    color: white;

}
.function-list-container{
    color: white;


}
.function-list-container li{

    font-size: 1.2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    /* border: 1px solid white; */
}
.function-list-container li:last-child{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.function-list-container li a{
    padding: 10px 20px
}
.li-child.article {

  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  margin: 0px;
  
}
.li-child.article li{
    border: none;
}
.li-parent.article:active .li-child.article {
    
}

.li-child.article.show {

  max-height: 500px; 
  visibility: visible;
}
.function-list-container li a{
    display: block;
}
.function-list-container li a:hover{
    /* background-color: white ;
    color: var(--main-color); */
    background-color: #547792;
}
.li-parent:hover .li-child{
    background-color: var(--main-color);
}





.li-child.diadiem {

  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  margin: 0px;
  
}
.li-child.diadiem li{
    border: none;
}
.li-parent.diadiem:active .li-child.diadiem {
    
}

.li-child.diadiem.show {

  max-height: 500px; 
  visibility: visible;
}

